@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(221, 207, 17);
}
.container {
  text-align: center;
  max-width: 900px;
}
.clock {
  text-align: center;
}
.current-weather-box {
  height: 150px;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 100px 0 100px;
}
#weather_now_stats {
  text-align: center;
}
#region {
  margin-bottom: 10px;
}
.weatherPicture {
  font-size: 150px;
}
.popCities {
  margin-bottom: 25px;
}
#later_today > div, #tomorrow > div, #after_tomorrow > div{
  border-bottom: solid gray 1px;
}
