@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(221, 207, 17);
}
.container {
  text-align: center;
}
.clock {
  text-align: center;
}
.carousel-inner i{
  font-size: 100px;
}
#region {
  margin-bottom: 10px;
}
.weatherPicture {
  font-size: 100px;
}
#later_today > div, #tomorrow > div, #after_tomorrow > div{
  border-bottom: solid gray 1px;
}
